body {
    margin: 10px;
    width: 325px
}

a, a:not([href]), a:hover, a:not([href]):hover{
    border: none;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    display:inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#update
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#next-page
{
    background-color:gray;
    
}

.remind {
    background-color: green; 
}

.remind:hover {
    background-color: rgb(0, 90, 0);
    text-decoration: none;
}

.stream {
    background-color: royalblue;
}

.stream:hover{
    background-color: rgb(51, 80, 167);
    color: whitesmoke;
    text-decoration: none;
}

div > div > div {
    border: 3px solid black;
    padding: 7px;
    width: 300px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

form {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}