body {
    margin: 10px;
    width: 325px
}

a, a:not([href]), a:hover, a:not([href]):hover{
    border: none;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 25px;
    display:inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title-underline
{
    margin-bottom: 5px;
}

#update
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#next-page, #previous-page
{
    background-color:gray;
    
}

#next-page:hover, #previous-page:hover
{
    background-color: rgb(102, 102, 102);
}

.remind {
    background-color: green; 
}

.remind:hover {
    background-color: rgb(0, 90, 0);
    text-decoration: none;
}

.stream {
    background-color: royalblue;
}

.stream:hover{
    background-color: rgb(51, 80, 167);
    color: whitesmoke;
    text-decoration: none;
}

#next > div > div, #games > div > div
{
    text-align: center;
    position: absolute;
    bottom: 0;
}

#next > div, #games > div {
    font-size: 15px;
    border: 3px solid black;
    padding: 7px;
    width: 150px;
    height: 270px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}

form {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}