body
{
    font-family: 'Maven Pro', sans-serif;
    color: #17408B;
    background-color: #E8ECF3;
    margin: 10px;
    width: 325px
}

hr
{
    background-color: #17408B;
}

a, a:not([href]), a:hover, a:not([href]):hover{
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 25px;
    display:inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title-underline
{
    margin-bottom: 5px;
}

#update
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#next-page, #previous-page
{
    background-color:#17408B;
    
}

#next-page:hover, #previous-page:hover
{
    background-color: #133470;
}

.remind
{
    background-color: #C9082A; 
}

.remind:hover
{
    background-color: #960722;
    text-decoration: none;
}

.stream
{
    background-color: #C9082A;
}

.stream:hover
{
    background-color: #960722;
    color: white;
    text-decoration: none;
}

#next > div > div, #games > div > div
{
    text-align: center;
    position: absolute;
    bottom: 0;
}

#next > div, #games > div
{
    font-size: 15px;
    border: 3px solid #17408B;
    padding: 7px;
    width: 150px;
    height: 270px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}

/* Scrollbar styling */

::-webkit-scrollbar-thumb
{
    background: #17408B;
}

::-webkit-scrollbar-thumb:hover
{
    background: #133470;
}

::-webkit-scrollbar
{
    background: #B9C6DC;
}

::-webkit-scrollbar-track
{
    background: #B9C6DC ;
}




