body {
    margin: 10px;
    width: 325px
}

button, a {
    border: none;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    display:inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:focus
{
    outline: none;
}

#remind {
    background-color: green; 
}

#remind:hover {
    background-color: rgb(0, 90, 0);
}

#stream {
    background-color: royalblue;
}

#stream:hover{
    background-color: rgb(51, 80, 167);
}

a:hover{
    color: whitesmoke;
    text-decoration: none;
}

div > div > div {
    border: 3px solid black;
    padding: 7px;
    width: 300px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

form {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}